/**** tb designer css *********/
@import url("common.css");
@import url("poppins.css");
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: normal;
	background-color: #ffffff;
	letter-spacing: 0.5px;
}
/* commn css*/
a {
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: #17496c;
	text-decoration: none;
}
.btn-primary:hover {
	color: #ffffff;
	background-color: #17496c;
	border-color: transparent
}
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover {
	color: #ffffff;
	background-color: #17496c;
	border-color: #17496c
}
.btn-outline-primary {
	color: #17496c;
	background-image: none;
	background-color: transparent;
	border-color: #17496c
}
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle {
	color: #ffffff;
	background-color: #17496c;
	border-color: #17496c
}
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover {
	color: #ffffff;
	background-color: #17496c;
	border-color: #17496c
}
.btn-primary {
	color: #fff;
	background-color: #333333;
	border-color: transparent
}
.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #333333;
	border-color: transparent;
}
.btn-outline-primary.active.focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.active:hover,
.btn-outline-primary:active.focus,
.btn-outline-primary:active:focus,
.btn-outline-primary:active:hover,
.open>.btn-outline-primary.dropdown-toggle.focus,
.open>.btn-outline-primary.dropdown-toggle:focus,
.open>.btn-outline-primary.dropdown-toggle:hover {
	color: #fff;
	background-color: #333333;
	border-color: #175c6a
}
.tag-primary[href]:focus,
.tag-primary[href]:hover {
	background-color: #333333
}
a.bg-primary:focus,
a.bg-primary:hover {
	background-color: #333333
}
a.text-primary:focus,
a.text-primary:hover {
	color: #333333;
}
.btn-link {
	font-weight: 400;
	color: #17496c;
	border-radius: 0
}
.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #17496c;
	outline: 0
}
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
	color: #ffffff;
	cursor: default;
	background-color: #17496c
}
.card-primary {
	background-color: #17496c;
	border-color: #17496c
}
.card-outline-primary {
	border-color: #17496c
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
	z-index: 2;
	color: #ffffff;
	cursor: default;
	background-color: #17496c;
	border-color: #17496c
}
.page-link {
	position: relative;
	float: left;
	padding: .5rem .75rem;
	margin-left: -1px;
	color: #17496c;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #eeeeee
}
.tag-primary {
	background-color: #17496c;
	color: #000000;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	z-index: 2;
	color: #ffffff;
	text-decoration: none;
	background-color: #17496c;
	border-color: #17496c
}
.bg-primary {
	background-color: #17496c
}
.text-primary {
	color: #17496c
}
.btn-unstyle:focus .expand-more {
	color: #17496c
}
.form-control:focus,
.input-group.focus {
	outline: none;
}
.bootstrap-touchspin .group-span-filestyle .btn-touchspin,
.group-span-filestyle .bootstrap-touchspin .btn-touchspin,
.group-span-filestyle .btn-default {
	background: #17496c;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 0;
	font-size: .875rem;
	padding: .5rem 1rem
}
.custom-radio input[type=radio]:checked+span {
	display: block;
	background-color: #17496c;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	left: .125rem;
	top: .125rem
}
.dropdown-item:focus,
.dropdown-item:hover {
	background: none;
	text-decoration: none;
	color: #17496c
}
.search-widget form input[type=text]:focus+button .search {
	color: #17496c
}
.search-widget form button[type=submit] .search:hover {
	color: #17496c
}
#header .top-menu a[data-depth="0"]:hover {
	color: #17496c;
	text-decoration: none
}
.top-menu .sub-menu a:hover {
	color: #17496c
}
body#checkout section.checkout-step .delete-address,
body#checkout section.checkout-step .edit-address {
	display: inline-block;
	margin: 0 .3125rem;
	background: #333333 none no-repeat scroll 0 0;
	color: #FFF;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	-webkit-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
body#checkout section.checkout-step .delete-address,
body#checkout section.checkout-step .edit-address {
	background-color: #17496c;
	color: #ffffff;
}
body#checkout section.checkout-step .delete-address:hover,
body#checkout section.checkout-step .edit-address:hover {
	background-color: #333333;
	color: #ffffff;
}
.page-my-account #content .links a:hover i {
	color: #17496c
}
.carousel .carousel-control .icon-next:hover i,
.carousel .carousel-control .icon-prev:hover i {
	color: #17496c
}
.products-sort-order .select-list:hover {
	background: #17496c;
	color: #ffffff;
	text-decoration: none
}
.facet-dropdown.open>.select-title {
	border: 3px solid #17496c;
	background: #f6f6f6
}
.facet-dropdown .select-list:hover {
	background: #17496c;
	color: #ffffff;
	text-decoration: none
}
.pagination .current a {
	color: #17496c;
	text-decoration: none;
	font-size: 1.25rem
}
.block-categories .collapse-icons .add:hover,
.block-categories .collapse-icons .remove:hover {
	color: #17496c
}
.block-categories .arrows .arrow-down:hover,
.block-categories .arrows .arrow-right:hover {
	color: #17496c
}
.tabs .nav-tabs .nav-link.active {
	color: #17496c
}
.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link:hover {
	border: none;
	border-bottom: 3px solid #17496c
}
#product-modal .modal-content .modal-body .product-images img:hover {
	border: 3px solid #17496c
}
#blockcart-modal .product-name {
	color: #17496c;
	font-size: 1.125rem
}
.product-images>li.thumb-container>.thumb.selected,
.product-images>li.thumb-container>.thumb:hover {
	border: 2px solid #17496c
}
.product-customization .product-message:focus {
	background-color: #fff;
	outline: none;
}
.cart-grid-body a.label:hover {
	color: #17496c
}
.tb-addtocart-price {
	color: #333333;
}
.block_newsletter form input[type=text]:focus {
	outline: none;
	color: #232323;
	background: #fff
}
.block_newsletter form input[type=text]:focus+button .search {
	color: #17496c
}
.block_newsletter form button[type=submit] .search:hover {
	color: #17496c
}
.account-list a:hover {
	color: #17496c
}
#header .header-nav .cart-preview.active {
	background: #17496c;
	color: #ffffff;
}
#header .header-nav .blockcart a:hover {
	color: #17496c;
}
#wrapper .breadcrumb li a {
    color: #222222;
}
#wrapper .breadcrumb {
	background-color: #ffffff;
	background-image: url(../img/templatebeta/shop-title.jpg);
	padding: 40px 0;
	text-align: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 0;
}
#wrapper .breadcrumb li:last-child a, 
#wrapper .breadcrumb li:hover a {
	color: #17496c;
}
#tb-back-top-wrapper {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	margin: 15px 15px 0 15px;
}
.tb-continue-shopping-btn:hover {
	background-color: #17496c;
	color: #ffffff;
}
.tbreviews-popup-send-btn a button, 
.tbreviews-popup-send-btn button{
	background-color: #333333;
	padding: 7px 20px;
}
.page-footer a {
    background-color: #17496c;
    padding: 10px 15px;
    color: #ffffff;
    display: inline-block;
}
#my-account #main .page-content {
    margin-bottom: 0;
}
#search_filters_brands .facet .tbsearch-filter-brand-wrapper li.facet-label a:hover, 
.tbserach-filter-suppliers p:hover {
	color: #17496c;
}
.tb-continue-shopping-btn,
.tbprocess-to-checkout {
	background-color: #17496c;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}
.tb-continue-shopping-btn:hover,
.checkout .tbprocess-to-checkout:hover {
	background-color: #333333;
	color: #ffffff;
}
*::-webkit-scrollbar {
    width: 5px;
    background-color: #ddd;
}
*::-webkit-scrollbar-thumb{
    background-color: #17496c;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
.tb-category-main-div,
.tbcenter-block-product-section {
	border: 1px solid #eeeeee;
	background-color: #ffffff;
	padding: 15px 0;
}
body#checkout div .condition-label {
    line-height: 18px;
}
.tbwishlist-compare-wrapper-page .tb-product-page-add-to-cart-wrapper .add-to-cart:hover i,
.tbwishlist-compare-wrapper-page .tbcompare-wrapper:hover .tbcmsproduct-compare-btn i, 
.tbwishlist-compare-wrapper-page .tbproduct-wishlist:hover .tbproduct-wishlist-icon i{
	color: #ffffff;
}
.footer_links.wishlist_footer a{
	background-color: #17496c;
	color: #ffffff;
}
.tbwishlist-send-mess-btn .button-small{
	background-color: #17496c;
	color: #ffffff;
}
.tbwishlist-send-mess-btn .button-small:hover{
	background-color: #333333;
	color: #ffffff;
}
.footer_links.wishlist_footer a:hover{
	background-color: #333333;
	color: #ffffff;
}
.tbcmsNewsLetterPopup-i .tbnewsletterpopup-button-icon:hover {
	background-color: #17496c;
	color: #ffffff;
}
.tbproduct-page-wrapper {
	background-color: #ffffff;
	margin-bottom: 30px;
}
#block-reassurance li .block-reassurance-item {
    background-color: #f7f7f7;
    border-left: 3px solid #aaaaaa;
}
.tbproduct-description-tab{
	border: 1px solid #eeeeee;
	margin-bottom: 15px;
}
.tb-all-page-main-title {
    background-color: #fff;
}
/***** title */
.tbcategory-page-title{
	font-size: 30px;
	color: #222222;
	font-weight: 600;
	background-color: transparent;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.lang-rtl .tbcategory-page-title {
	text-align: right;
}
@media(max-width: 991px){
	#wrapper .breadcrumb{
		padding: 40px 0;
	}
	.tbcategory-page-title{
		font-size: 30px;
		margin-bottom: 10px;
	}
}
.tb-left-layout,
body#checkout #wrapper > .container{
	margin-top: 30px;
}
.block-category{
	border: 1px solid #eeeeee;
}
#module-tbcmsblog-archive #content{
	border: none;
}
@media(max-width: 991px){
	#main .tbpage-header-title-wrapper h1, .tball-page-top-title h1, #main .tb-sub-pages-inner-content h2, #main .tb-sub-pages-inner-content h3{
		font-size: 18px;
	}
}
/* end comman css */
#cms #wrapper,
#category #wrapper,
#product #wrapper {
	padding: 0;
}
#authentication .radio-inline .custom-radio, 
#identity .radio-inline .custom-radio{
	margin-right: 8px;
}
#pagenotfound .page-not-found{
	box-shadow: none;
	border: 1px solid #eeeeee;
}
#authentication .radio-inline, #identity .radio-inline{
	padding: 0 10px 0 0;
}
#module-tbcmsblog-single .blog_post_content{
	overflow: hidden;
	margin-bottom: 30px;
}
#main .tbpage-header-title-wrapper h1, 
.tball-page-top-title h1{
	font-size: 22px;
    color: #222222;
    text-transform: capitalize;
    font-weight: 700;
}
.block-category #category-description p,
#main .page-content p{
	font-size: 15px;
    color: #666666;
    font-weight: 500;
    line-height: 26px;
}
.tb-total-product-number {
    line-height: normal;
}
@media(min-width: 768px) and (max-width: 1023px){
    .tb-grid-list-all-wrapper{
        padding: 0;
    }
    .tb-total-product-number {
        line-height: 20px;
    }
}
@media(max-width: 767px){
    .tb-total-product-number {
        line-height: 20px;
    }
}
#main .tbpage-header-title-wrapper h1{
    color: #333333;
    font-size: 18px;
    font-weight:500;
}
.page-addresses .addresses-footer,
.page-addresses .address{
    margin-bottom: 15px;
}
.page-addresses .address .address-body address {
     min-height: inherit; 
}
.block-category {
    min-height: inherit;
}
#category-description{
    margin-top: 10px;
}
#product_comparison{
    border: none;
}
#main .page-content #product_comparison h6 {
    margin-bottom: 0;
}
@media (max-width: 1199px){
    .tb-sub-category-wrapper {
        margin: 0 14px 14px;
    }
}
@media(max-width: 767px){
    .page-footer a {
        padding: 10px 4px;
    }
}
input {
    outline: none;
    padding: 0 10px;
}
/*************************************start_container_size***************************************************/
.container {
	position: relative;
}
@media (min-width: 480px){
	.container {
	    max-width:420px;
	}
}
@media (min-width:575px){
	.container {
	    max-width: 480px;
	}
}
@media (min-width: 576px){
	.container {
	    max-width: 530px;
	}
}
@media (min-width: 768px){
	.container {
	    max-width: 720px;
	}
}
@media (min-width: 992px){
	.container {
	    max-width: 768px;
	}
}
@media (min-width: 1024px){
	.container {
	    max-width: 992px;
	}
}
@media (min-width: 1200px) {
	.container {
	    width: 100%;
	    max-width: 1200px;
	}
}
#header .container,
.tbtestimonial-slider-inner.container{
    width: 1830px;
    max-width: 100%;
}
@media(max-width: 1800px){
	.tbtestimonial-slider-inner.container{
		margin: 0 15px;	
		width: auto;
	}
}
/*************************************start_container_size***************************************************/
/******************** theme ************/
.tbcms-loading-inner {
	background-color: transparent;
	padding: 0;
}
.tb-main-div  {
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
}
.tbsearch-dropdown-total-wrapper:hover .tbsearch-dropdown-total {
	color: #17496c;
}
.tbnews-event-link{
	width: 100%;
	overflow: hidden;
}
/*********** left pannal ***********/
#left-column {
	padding-left: 0;
	background-color: transparent;
}
#right-column {
	padding-right: 0;
	background-color: transparent;
}
#content-wrapper.left-column {
	padding-right: 0;
}
#content-wrapper.left-column.right-column {
	padding-right: 15px;
}
.tbleft-right-title.facet-label, 
.block-categories .category-top-menu > li.tb-category-title-wrapper a {
	color: #333333;
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: 0;
	margin: 0;
	line-height: 20px;
}
.tbleft-right-title-toggle {
	color: #222222;
}
.tbleft-right-product-slider .tbproduct-wrapper {
	box-shadow: none;
}
#left-column .tbleft-right-product-slider .tbproduct-wrapper,
#right-column .tbleft-right-product-slider .tbproduct-wrapper {
	border: none;
	margin: 0;
	border-bottom: 1px dashed #eaeded;
	padding: 20px 0;
	background-color: #ffffff;
	border-radius: 0;
}
#left-column .tbleft-right-product-slider:last-child .tbproduct-wrapper,
#right-column .tbleft-right-product-slider:last-child .tbproduct-wrapper {
	border-bottom: none;
}
#products.grid .tbproduct-view.tbproduct-grid,
#products.grid-2 .tbproduct-view.tbproduct-grid-2,
#products.list .tbproduct-view.tbproduct-list,
#products.list-2 .tbproduct-view.tbproduct-list-2,
#products.catelog .tbproduct-view.tbproduct-catelog,
.tbcms-left-column-wrapper .tb-left-pannal-btn-wrapper:hover,
.tbcmsproduct-grid-list .tbproduct-view:hover,
.tb_search_filter_wrapper .tbleft-right-title-wrapper:hover {
	background-color: #17496c;
}
#search_filters_brands,
#search_filters_suppliers,
.tbleft-right-penal-all-block,
.block-categories,
.tbcms-left-testimonial,
#left-column .tbcmscustomer-services,
#right-column .tbcmscustomer-services,
.tbcmsblog-left-side {
	border: 1px solid #eeeeee;
	margin-bottom: 15px;
	border-radius: 3px;
	background-color: #ffffff;
}
#search_filters_brands,
#search_filters_suppliers,
.tbleft-right-penal-all-block,
.tbcms-left-testimonial,
#left-column .tbcmscustomer-services,
#right-column .tbcmscustomer-services,
.tbcmsblog-left-side {
	border-radius: 3px;
}
.tbleft-product-wrapper-info, 
.tbcmsblog-left-side .tbblog-event-all-block, 
.tbsearch-filter-brand-wrapper, 
.tbserach-filter-suppliers, 
.tbtestimonial-slider-button-wrapper, 
.tb-category-wrapper, 
.tb-leftcategory-wrapper, 
#left-column .tbleft-customer-services-wrapper-info,
#right-column .tbleft-customer-services-wrapper-info,
.tbcmsvertical-menu-wrapper .tbleft-right-penal-all-block {
	border-top: 1px solid #e5e5e5;
	border-radius: 3px;
}

.block-categories .category-sub-menu {
	margin-top: 0;
}
#search_filters_brands .facet .tbsearch-filter-brand-wrapper li.facet-label a,
.tbserach-filter-suppliers p {
	color: #333333;
	font-size: 13px;
}
.tbleft-right-title-wrapper,
.tb-category-title-wrapper,
.tbcategory-title-wrapper  {
    background-color: #ffffff;
    text-align: left;
	padding: 10px 15px;
	position: relative;
}
.tbcategory-name {
    text-align: center;
    margin-top: 15px;
    color: #333333;
}
.tbcategory-name a {
    color: #333333;
}
#category.lang-rtl #left-column {
    padding-left: 15px;
    padding-right: 0;
    float: right;
}
@media(min-width: 992px){
	#category.lang-rtl #content-wrapper {
    	padding-right: 15px;
    	padding-left: 0;
	}
}
@media(max-width: 1199px) {
	.tbleft-right-title-toggle.open i {
		-webkit-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	#left-column .tbleft-right-product-slider {
		width: 33.33%;
		float: left;
	}
	#left-column .tbleft-product-wrapper {
		overflow: hidden;
	}
	#left-column,
	#right-column,
	#content-wrapper.left-column,
	#content-wrapper.left-column.right-column {
	    padding: 0;
	}
}
@media(max-width: 991px) {
	#left-column .tbleft-right-product-slider {
		width: 50%;
		float: left;
	}
}
@media(max-width: 575px) {
	#left-column .tbleft-right-product-slider {
		width: 100%;
	}
}
@media(min-width: 992px) and (max-width: 1024px) {
	.tb-grid-list-all-wrapper {
		padding: 0;
	}
	.tb_search_filter_wrapper .tbleft-right-title-wrapper {
		margin-right: 0;
	}
	.tbproduct-timer-icon {
		display: none;
	}
	#products.list-2 .tbproduct-image,
	#products.list-2 .tbproductdescription-button-wrapper {
		width: 100%;
	}
	#content-wrapper.left-column.right-column {
		padding: 0;
	}
	#products.list-2 .tbproduct-wrapper.list {
		display: block;
	}
}
@media(min-width: 450px) and (max-width: 575px) {
	#products.grid .tbgrid-list-view-product .tb-grid-list-wrapper-info-box{
		width: 50%;
	}
}
.lang-rtl .tbleft-right-title-toggle {
	left: 5px;
	right: auto;
}
.lang-rtl .tbleft-right-title-wrapper,
.lang-rtl .tb-category-title-wrapper,
.lang-rtl .tbcategory-title-wrapper  {
    text-align: right;
}
.lang-rtl #content-wrapper.left-column {
	padding-left: 0;
	padding-right: 15px;
	float: right;
}
.lang-rtl #content-wrapper.left-column.right-column {
	padding-left: 15px;
	padding-right: 15px;
	float: right;
}
.lang-rtl #right-column {
	padding-right: 15px;
	padding-left: 0;
}
.lang-rtl #left-column {
	padding-right: 0;
	padding-left: 15px;
	float: right;
}
.lang-rtl .tbvertical-menu-img-block {
	margin-right: 0;
	margin-left: 10px;
}
.lang-rtl .tbcmsvertical-menu-wrapper .tbleft-right-penal-all-block {
	padding-left: 0;
	padding-right: 5px;
}
.lang-rtl .tbcmsvertical-menu li.level-1, 
.lang-rtl .tbvertical-menu-show-hide-category, 
.lang-rtl .tbvertical-menu-show-hide-category {
	border-left: none;
	border-right: 3px solid transparent;
}
#category .page-content.page-not-found .tbsearch-top-wrapper{
	padding: 0;
}
#pagenotfound #content-wrapper .tbsearch-header-display-wrappper {
    position: inherit;
    visibility: visible;
    opacity: 1;
    -webkit-transform:none;
    -o-transform:none;
    -ms-transform:none;
    -moz-transform:none;
    transform:none;
    box-shadow: none;
}
#pagenotfound #content-wrapper .tbcmsheader-search.search-widget form button[type=submit] i {
    line-height: 40px;
    height: 40px;
    width: 40px;
    color: #222222;
}
.tbcmsleftsideofferbanners-one,
.tbcmstbcmsrightsideofferbanners {
	border-radius: 3px;
	border: 1px solid #eeeeee;
	margin-bottom: 15px;
}
.tbcmsleftsideofferbanners-one img,
.tbcmstbcmsrightsideofferbanners img {
	width: 100%;
	border-radius: 3px;
}
@media(max-width: 1199px) {
	.tbcmsleftsideofferbanners-one img,
	.tbcmstbcmsrightsideofferbanners img {
	    width: auto;
	}
	.tbcmstbcmsleftsideofferbanners,
	.tbcmstbcmsrightsideofferbanners {
		text-align: center;
	}
	.tbcmsleftsideofferbanners-one,
	.tbcmstbcmsrightsideofferbanners {
		border: none;
	}
	.lang-rtl #content-wrapper.left-column,
	.lang-rtl #content-wrapper.left-column.right-column,
	.lang-rtl #right-column,
	.lang-rtl #left-column {
		padding: 0;
	}
} 
/**** theme control */
.tbcmstheme-control .tbtheme-control-icon{
    border-radius: 0;
}
.tbcmstheme-control{
	left: -370px;
}
.tbcmstheme-control .tbtheme-control-icon{
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    line-height: 47px;
    text-align: center;
    float: left;
    position: absolute;
    right: -44px;
    top: 0;
    cursor: pointer;
    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.30);
    background-image: url(../img/templatebeta/sprite.png);
    background-position: -203px -553px;
}
.tbcmstheme-control .tbtheme-control-icon:hover{
   background-color: #17496c;
   background-position: -253px -553px;
}
.tbcmstheme-control .tbtheme-control-wrapper {
    width: 370px;
    border-radius: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
    transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
	height: 535px;
	overflow-y: scroll; 
}
.tbthemecontrol-heading {
	background-color: #333333;
	padding: 15px;
}
.tbtheme-control-wrapper .tbtheme-all-pattern .tbtheme-pattern-image, 
.tbtheme-all-body-pattern .tbtheme-body-pattern-image{
	border-radius: 4px;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.16);
}
.tbtheme-control-title-name-reset-btn p {
	font-size: 18px;
	margin-bottom: 0;
	font-weight: 600;
	color: #ffffff;
}
.tbtheme-control-wrapper .tbtheme-control-reset {
    background-color: #333333;
    padding: 5px 20px;
    margin-top: 15px;
    vertical-align: top;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 1px;
}
.tbtheme-control-wrapper .toggle.btn {
    min-width: 70px;
    min-height: 30px;
}
.tbtheme-control-wrapper .tbtheme-option .toggle-off.btn {
    padding: 6px 0 6px 20px;
}
.tbtheme-control-wrapper .tbtheme-option .toggle-on.btn {
    padding: 6px 20px 6px 0px;
}
.tbtheme-control-wrapper td {
	padding: 11px 15px;
	border-bottom: 1px solid #eeeeee;
}
.tbtheme-control-wrapper .tbselect-theme-name,
.tbtheme-control-wrapper .tbcolor-theme-name, 
.tbtheme-control-wrapper .tbtheme-layout-name, 
.tbtheme-control-wrapper .tbtheme-animation-name,
.tbtheme-control-wrapper .tbtheme-page-loader-name, 
.tbtheme-control-wrapper .tbtheme-left-sticky-name, 
.tbtheme-control-wrapper .tbtheme-right-sticky-name, 
.tbtheme-control-wrapper .tbtheme-menu-sticky-name, 
.tbtheme-control-wrapper .tbbgcolor-theme-name,
.tbtheme-control-wrapper .tbtheme-background-pattern-name,
.tbcolor-two-theme-name,
.tbtheme-body-background-pattern-name {
    font-size: 14px;
    padding: 6px 0;
    color: #333333;
    font-weight: 500;
    text-transform: uppercase;
    float: left;
}
.tbtheme-control-wrapper .tbtheme-option .btn-default {
	background-color: #333333;
}
.tbtheme-control-wrapper .tbtheme-option .btn-primary {
	background-color: #17496c;
	color: #ffffff;
}
.tbtheme-control-wrapper .tbtheme-option .toggle-handle {
	background-color: #ffffff;
}
.tbtheme-control-wrapper .tbtheme-control-reset:hover {
    background-color: #17496c;
    color: #ffffff;
}
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-theme select,
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-1 select,
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-2 select {
	background-image: url(../img/templatebeta/arrow-down.png);
	background-color: #ffffff;
	color: #666666;
	font-weight: 400;
	font-size: 12px; 
	width: 130px;
	border-radius: 0;
	padding: 5px;
	background-repeat: no-repeat;
    background-position: 96%;
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	cursor: pointer;
	float: right;
	border: 1px solid #eeeeee;
}
.last-child .tbcmstheme-control .tbtheme-control-wrapper .tbselect-theme select,
.last-child .tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-1 select,
.last-child .tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-2 select{
	direction: ltr;
}
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-theme select::-ms-expand,
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-1 select::-ms-expand,
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-2 select::-ms-expand{
	display: none;
}
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-theme select option,
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-1 select option,
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-2 select option{
	background-color: #ffffff;
	color: #222222;
}
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-theme select option:hover,
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-1 select option:hover,
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-2 select option:hover {
	background-color: #17496c;
	color: #ffffff;
}
.tbtheme-control-wrapper .tball-theme-content {
	text-align: center;
}
.tbtheme-control-wrapper .tbtheme-all-pattern-wrapper,
.tbtheme-all-body-pattern-wrapper {
    width: 330px;
    margin: 40px 0 0 0;
    overflow: hidden;
}
.tbtheme-control-wrapper .tbtheme-color-box {
    float: right;
}
.tbtheme-control-wrapper .tbtheme-bgcolor-box input,
.tbtheme-control-wrapper .tbtheme-color-box input {
    height: 28px;
    padding: 0 0 0 32px;
    width: 100%;
}
.tbtheme-bgcolor-box .minicolors-theme-default.minicolors {
    float: right;
}
/******************************************new button*******************************/
.box input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
	display: none;
}

.box label {
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
    height: 33px;
	background: #bbbbbb;
	display: block;
	border-radius: 3px;
	padding: 4px;
	position: relative;
}

.box label:after {
	content: '';
	position: absolute;
    left: 4px;
    right: auto;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 3px;
    transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
}

.box input:checked + label {
	background: #333333;
}

.box input:checked + label:after {
	left:95%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.box label:active:after {
	width: 45px;
}
.tbcmstheme-control .tbtheme-option{
	border: none;
	margin: 0 auto;
	float: right;
}
.tbcmstheme-control .tbtheme-control-icon i{
	-webkit-animation-name: none;
	animation: none;
	font-size: 0;
}
.minicolors-theme-default.minicolors{
	vertical-align: top;
}
.lang-rtl .tbcmstheme-control .tbtheme-control-wrapper .tbselect-theme select, 
.lang-rtl .tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-1 select, 
.lang-rtl .tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-2 select {
	background-position: 6%;
}
/*** end theme control *************/
/************************************************ service **************************************************************/
.tbcmscustomer-services {
	background-color: #ffffff;
}
.tb-all-service.card-deck{
	margin-bottom: 0;
	direction: ltr;
	border-spacing: 0;
}
.tbcmscustomer-services .tbservices-img-conut i {
	display: none;
}
.tbservices-center .tball-services-block{
	padding: 0 15px;
}
.tbservices-img{
	width: 50px;
	height: 50px;
	background-color: #ffffff;
    border-radius: 0;
    border: none;
}
.tbservices-wrapper {
	direction: ltr;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	text-align: left;
	justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    padding: 30px;
    border: 3px solid #f8f9fb;
    -webkit-transition: all 0.5s ease 0.1s;
	-o-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
}
.tbcmscustomer-services .tbservices-img-conut {
    margin-bottom: 0;
    margin-right: 20px;
}
.tbservice-payment  .tbservices-wrapper .tbservices-img {
	background-image: url(../img/templatebeta/Service-icon.png);
	background-position: 0 0;
}
.tbservice-cash-trustpay .tbservices-wrapper .tbservices-img {
	background-image: url(../img/templatebeta/Service-icon.png);
	background-position: -50px 0;
}
.tbservice-supprt .tbservices-wrapper .tbservices-img {
	background-image: url(../img/templatebeta/Service-icon.png);
	background-position: -100px 0;
}
.tbservice-payment  .tbservices-wrapper:hover .tbservices-img {
	background-image: url(../img/templatebeta/Service-icon.png);
	background-position: 0 -50px;
}
.tbservice-cash-trustpay .tbservices-wrapper:hover .tbservices-img {
	background-image: url(../img/templatebeta/Service-icon.png);
	background-position: -50px -50px;
}
.tbservice-supprt .tbservices-wrapper:hover .tbservices-img {
	background-image: url(../img/templatebeta/Service-icon.png);
	background-position: -100px -50px;
}
.tbservices-content-box .tbservices-title {
	font-size: 16px;
	text-transform: capitalize;
	color: #222222;
	font-weight: 500;
	margin-bottom: 2px;
}
.tbservices-wrapper:hover .tbservices-content-box .tbservices-title{
	color: #17496c;
}
.tbservices-wrapper:hover{
	box-shadow: 0px 3px 9.4px 0.6px rgba(0, 0, 0, 0.14); 
	border-color: transparent;
	-webkit-transition: all 0.5s ease 0.1s;
	-o-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
}
.tbservices-content-box .tbservice-dec{
	font-size: 14px;
	line-height: 20px;
	color: #666666;
	font-weight: 500;
	text-transform: capitalize;
}
/********************* left service **************************/
#left-column .tb-all-service.card-deck,
#right-column .tb-all-service.card-deck {
	padding: 0 15px;
}
#left-column .tbcmscustomer-services .tbservices-center,
#right-column .tbcmscustomer-services .tbservices-center {
	display: block;
	border: none;
	padding: 15px 0;
	border-bottom: 1px solid #eeeeee;
}
#left-column .tbcmscustomer-services .tbservices-center:last-child,
#right-column .tbcmscustomer-services .tbservices-center:last-child {
	border-bottom: none;
}
#left-column .tbcms-main-title .tbmain-title,
#right-column .tbcms-main-title .tbmain-title {
	line-height: 40px;
}
#left-column .tbcmsmain-title-wrapper,
#right-column .tbcmsmain-title-wrapper {
	margin-bottom: 0;
	border-bottom: 1px solid #eeeeee;
	padding: 0 15px;
}
#left-column .tbcmscustomer-services .tbservices-img-conut, 
#right-column .tbcmscustomer-services .tbservices-img-conut {
    margin-bottom: 0;
    margin-right: 15px;
}
#left-column .tbservices-content-box,
#right-column .tbservices-content-box {
	text-align: left;
}
#left-column .tbservices-wrapper,
#right-column .tbservices-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}
#left-column .tbcustomer-services.container,
#right-column .tbcustomer-services.container {
	padding: 0;
}
#left-column .tbservices-content-box .tbservices-title,
#right-column .tbservices-content-box .tbservices-title {
	font-size: 14px;
	text-transform: capitalize;
	color: #222222;
	font-weight: 500;
	transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
	margin-bottom: 5px;
}
/****************************************** mobile service ******************************************/
@media(max-width: 1199px) {
	#left-column .tbcmscustomer-services .tbservices-center, 
	#right-column .tbcmscustomer-services .tbservices-center {
		display: block;
		width: 50%;
		float: left;
		border: none;
		padding: 15px;
	}
	#left-column .tbcmscustomer-services .tbservices-center.odd:nth-child(odd),
	#right-column .tbcmscustomer-services .tbservices-center.odd:nth-child(odd) {
		clear: both;
	}
}
@media(max-width: 991px) {
	.tbcmscustomer-services .tbservices-center:last-child.odd{
		 float: none;
		 margin: 0 auto;
	}
	.tbcmscustomer-services .tbservices-center.odd {
		clear: both;
	}
	.tbservices-wrapper{
		padding: 15px;
	}
	.tbcmscustomer-services {
		margin-bottom: 30px;		
	}
	.tbservices-content-box .tbservices-title{
		font-size: 14px;
	}
	.tbservices-content-box .tbservice-dec{
		font-size: 12px;
	}

}
@media(max-width: 767px) {
	#left-column .tbcmscustomer-services .tbservices-center, 
	#right-column .tbcmscustomer-services .tbservices-center {
		width: 100%;
		float: none;
	}
	#left-column .tbcmscustomer-services .tbservices-center:last-child .tball-block-box-shadows, 
	#right-column .tbcmscustomer-services .tbservices-center:last-child .tball-block-box-shadows{
	    border-bottom: none;
	}
}
@media(max-width: 575px) {
	.tbcmscustomer-services .tbservices-center {
		width: 100%;
		float: none;
	}
	.tbservices-wrapper{
	    -ms-flex-pack: start;
		-webkit-box-pack:start;
		justify-content: start;
	}
}
/************************************************ end service **************************************************************/
/**************** brand ***************/

.tbbrandlist-slider-inner {
    position: relative;
}
.tbbrandlist-slider-wrapper-info {
    padding: 0 15px;
}
@media(min-width: 992px){
	.tbbrandlist-slider .tbcms-brandlist-wrapper{
		opacity: 0;
		-webkit-transition: 0.3s ease-in-out;
		-o-transition: 0.3s ease-in-out;
		-ms-transition: 0.3s ease-in-out;
		-moz-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
	}
	.tbbrandlist-slider:hover .tbcms-brandlist-wrapper{
		opacity: 1;
		-webkit-transition: 0.3s ease-in-out;
		-o-transition: 0.3s ease-in-out;
		-ms-transition: 0.3s ease-in-out;
		-moz-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
	}
}
/******************** end brand **************/
/***************** blog **********/
.tbcmsblog-event {
	margin-bottom:100px;
}
.tbblog-event-background-image{
	padding: 80px 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.tbcmsblog-event .tbblog-event-all-content-block.tbblog-even .tbblog-img-block:after,
.tbcmsblog-event .tbblog-event-all-content-block.tbblog-odd .tbblog-img-block:after {
	display: none;
}
.tbnews-event-content-wrapper .tbdate-time .tbmonth-time{
	padding: 0 5px;
}
.tbnews-event-content-wrapper .tbnews-event-titel h3 a,
.kr_blog_post_area .tbblog_post .post_content .post_title a {
	color: #222222;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	-webkit-line-clamp: 1;
	overflow: hidden;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}
.tbblog-event-all-content-block:hover .tbnews-event-titel h3 a{
	color: #17496c;
}
@media screen and (min--moz-device-pixel-ratio:0) {
    .kr_blog_post_area .hrxblog_post .post_content .post_description p{
        height: calc(3rem / 1.1);
        text-overflow: ellipsis;
    }
}
.tbblog-event-all-content-block .tbnews-event-titel a:hover h3{
	color: #ffcb05;
}
.tbnews-event-description,
.kr_blog_post_area .tbblog_post .post_content .post_description p {
    color: #666666;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 15px;
    font-weight: 500;
    -webkit-line-clamp: 3;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}
.kr_blog_post_area .tbblog_post .post_thumbnail{
	margin-bottom: 15px;
}
.tbnews-wrapper-info-box {
	background-color: transparent;
	padding: 0;
}
.tbblog-img-content-wrapper {
	background-color: transparent;
	text-align: left;
	position: relative;
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
}
.tbblog-event-all-content-block .tbblog-img-block .tbblog-content-img {
	position: relative;
	height: auto;
	overflow: hidden;
	border: 3px solid #eeeeee;
}
.tbblog-event-all-content-block .tbnews-event-buttons{
	color: #ffffff;
	line-height:49px;
	font-size: 28px;
}
.tbblog-event-all-content-block:hover .tbblog-img-block .tbblog-content-img:after,
.blog_post_content_top:hover .tbnews-event-hoverbtn .tbnews-event-overly{
	opacity: 1;
	top: 0;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}
.tbblog-event-all-content-block .tbnews-event-buttons{
    height: 50px;
    width: 50px;
    display: block;
    border: 2px solid #ffffff;
    border-radius: 100px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    text-align: center;
}
.tbblog-event-all-content-block .tbblog-img-block .tbblog-content-img,
.blog_post_content .tbnews-event-hoverbtn{
 	transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
 }
.tbblog-event-all-content-block:hover .tbnews-event-buttons,
 .blog_post_content:hover .tbnews-event-buttons{
	opacity: 1;
}
.tbnews-event-hoverbtn .tbnews-event-buttons i{
	line-height: 18px;
}
.tbnews-event-content-wrapper {
	padding: 0 75px;
    text-align: center;
    margin-top: -30px;
    position: relative;
    z-index: 2;
}
.tbnews-event-content-wrapper .tb-event-content{
	padding: 25px;
	background-color: #ffffff;
	box-shadow: 0px 3px 9.4px 0.6px rgba(0, 0, 0, 0.14); 
}
.blog_post_content_top.tbblog-img-block,
.kr_blog_post_area .tbblog_post .post_thumbnail{
	overflow: hidden;
	z-index: 1;
	position: relative;
}
.tbblog-date-username .post_meta{
	display: inline-block;
	vertical-align: top;
}
.td-date-autor-wrapper{
	margin: 0 10px 0 0;
}
.lang-rtl .td-date-autor-wrapper{
	margin: 0 0 0 10px;
}
.td-date-autor-wrapper p {
	color: #666666;
	font-weight: 500;
	font-size: 14px;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
.td-date-autor-wrapper i{
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	background-image: url(../img/templatebeta/sprite.png);
	background-position: -215px -214px;
	height: 25px;
	width: 25px;
}
.tbdate-time i{
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	background-image: url(../img/templatebeta/sprite.png);
	background-position: -215px -265px;
	height: 25px;
	width: 25px;
}
.tbmonth-time p,
.day_time p,
.tbyear-time p{
	color: #666666;
	font-weight: 500;
	font-size: 14px;
	margin: 0;
}
.tbdate-time-autor-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    text-align: center;
    -webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.tbdate-time span {
	display: inline-block;
	padding-right: 5px;
}
.tbblog-date-username  p,
#module-tbcmsblog-archive .post_content .post_meta p {
	color: #ffcb05;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
	line-height: 18px;
}
.kr_blog_post_area .tbblog_post .post_content .post_meta{
	margin-bottom: 10px;
}
.kr_blog_post_area .tbblog_post .post_content .post_title{
	margin-bottom: 5px;
}
.blog_post_content .tbnews-event-hoverbtn .tbnews-event-buttons i{
	border: none;
	-webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    transform: unset;
}
.blog_post_content .tbnews-event-hoverbtn .tbnews-event-buttons:hover i{
	border: none;
	color: #ffffff;
}
.blog_post_content .tbnews-event-hoverbtn .tbnews-event-buttons i{
	color: #ffffff;
	font-size: 24px;
}
#module-tbcmsblog-archive .tbpagination-title-item-main-wrapper{
	margin: 0; 
}
.tbpagination-title-item-wrapper .tbinner-page-pagination-wrapper {
	background-color: #fafafa;
	padding: 10px 0;
}
.kr_blog_post_inner.products,
#module-tbcmsblog-archive .tball-page-top-title,
#module-tbcmsblog-single .card{
	border: 1px solid #eeeeee;
}
.lang-rtl .tbnews-wrapper-info-box{
	direction: ltr;
}
@media(max-width: 1199px) {
	.tbnews-event-content-wrapper{
		padding: 0 25px;
	}
}
@media(max-width: 991px) {
	.tbblog-event-all-content-block {
		margin-bottom: 10px;
	}
	.tbnews-event-content-wrapper .tbnews-event-titel h3 a, .kr_blog_post_area .tbblog_post .post_content .post_title a{
		font-size: 14px;
	}
	.tbcmsblog-event {
	    margin-bottom: 30px;
	}
	.tbblog-img-content-wrapper .td-date-autor-wrapper {
		bottom: 0;
	}
	.tbnews-event-content-wrapper .tb-event-content{
		padding: 15px;
	}
}
@media(max-width: 480px){
	.tbmonth-time p, .day_time p, .tbyear-time p,
	.td-date-autor-wrapper p,
	.tbnews-event-description, .kr_blog_post_area .tbblog_post .post_content .post_description p{
		font-size: 12px;
	}
	.tbnews-event-content-wrapper{
		padding: 0 15px;
	}
	.tbnews-event-content-wrapper .tbnews-event-titel h3 a, 
	.kr_blog_post_area .tbblog_post .post_content .post_title a{
		margin-bottom: 10px;
	}
}
/*********** blog rtl **************/
.lang-rtl .tbblog-date-username{
	direction: rtl;
}

/*********** end blog rtl *********/
/************ left blog ***********/
.tbblog-event-all-block  {
	padding: 0;
}
.tbcmsblog-left-side .tbblog-event-all-content-block .tbblog-img-block {
	padding: 10px;
}
.tbnews-event-read-more {
	display: none;
}
/*********************************** end blog **********************************/

/************************ testimonial ********************/
.tbcmstestimonial {
    margin-bottom: 100px;
}
.tbcmstestimonial .tbtestimonial-dec,
.tbcms-left-testimonial .tbtestimonial-dec{
	position: relative;
    color: #666666;
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.tbcmstestimonial .tbtestimonial-dec {
	margin-bottom: 20px;
}
.tbtestimonial-inner-content-box .tbtestimonial-img-block img {
	border-radius: 100%;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 9.4px 0.6px rgba(0, 0, 0, 0.14);
}
.tbtestimonial-img-block {
    margin-bottom: 25px;
}
.tbtestimonial-title-des{
	position: relative;
	margin-bottom: 40px;
	text-align: center;
}
.tbcms-left-testimonial .tbtestimonial-title-des{
	margin-bottom:15px;
}
.tbcmstestimonial .tbtestimonial-designation,
.tbcms-left-testimonial .tbtestimonial-designation{
	color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
}
.tbcms-left-testimonial .tbtestimonial-designation{
	color: #111111;
}
.tbtestimonial-title a {
	font-size: 15px;
	line-height: 24px;
	font-weight: 600;
	color: #111111;
}
.tbtestimonial{
	overflow: hidden;
}
#left-column .tbcms-all-testimonial .tbtestimonial{
	width: auto;
	margin: 0;
}
.tbcms-left-testimonial .tbtestimonial-inner-content-box{
	margin: 0 15px;
	padding: 0;
}
.tbcms-left-testimonial .tbtestimonial-img-block {
    margin-bottom: 15px;
}
.tbcmstestimonial .tbtestimonial-slider-inner{
	padding: 100px 15px;
	background-color: #f8f9fb;
	border-radius: 256px;
}
.tbtestimonial-content-box{
	margin: 0 auto;
	overflow: hidden;
	max-width: 570px;
	position: relative;
}
.tbcms-left-testimonial .tbtestimonial-slider-inner{
	margin: 0 auto;
	padding: 0;
}
.tbcms-left-testimonial .tbtestimonial-dec{
	width: 100%;
	margin-top: 15px;
	font-size: 14px;
	color: #222222;
}
@media (max-width: 991px){
	.tbcmstestimonial .tbtestimonial-slider-inner{
		padding: 20px 15px;
	}
	.tbtestimonial-title a{
		font-size: 14px;
	}
	.tbcmstestimonial .tbtestimonial-dec, .tbcms-left-testimonial .tbtestimonial-dec{
		font-size: 12px;
	}
	.tbcmstestimonial .tbtestimonial-designation, .tbcms-left-testimonial .tbtestimonial-designation{
		font-size: 13px;
	}
	.tbcmstestimonial{
		margin-bottom: 30px;
	}
	.tbtestimonial-title-des{
		margin-bottom: 20px;
	}
	.tbcmstestimonial:after {
		display: none;
	}
	.tbtestimonial-slider-inner{
		padding: 30px 15px;
	}

}
@media(max-width: 767px){
	.tbcmstestimonial .tbtestimonial-dec,
	.tbtestimonial-img-block {
		margin-bottom: 15px;
	}
	.tbtestimonial-slider-inner{
		border-radius: 140px;
	}
}
@media(max-width: 575px) {
	.tbtestimonial-title-des {
		display: block;
	}
	.tbtestimonial-title {
		margin: 0;
	}
}
/********** left testimonial **********/
.tbtestimonial-slider-button-wrapper {
    padding: 20px 0;
}
.tbcms-left-testimonial .tbtestimonial-title a {
	color: #222222;
}
.lang-rtl .tbtestimonial-title {
    margin-right: 0;
    margin-left: 10px;
}
/******************************** end testimonial ****************************/
/* slider */
.tb-main-slider {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}
.tbcms-slider-offerbanner-wrapper {
	margin-bottom: 100px;
}
.tbmain-slider-contant.tbmain-slider-contant-left{
	left: 12%;
    text-align: right;
    right: auto;
    top: 15%;
}
.tbofferbanner-text {
	display: none;
}
.tbmain-slider-contant .tbmain-slider-title {
	text-align: center;
	font-size: 56px;
	font-weight: 400;
	color: #000;
	text-transform: capitalize;
	margin-bottom: 0;
	text-shadow: none;
	padding-bottom: 15px;
}
.tbmain-slider-contant .tbmain-slider-info h2 {
	text-align: center;
	font-size: 120px;
	text-transform: capitalize;
	margin-bottom: 30px;
	color: #000;
	text-shadow: none;
	font-weight: 700;
}
.tbmain-slider-contant .tbmain-slider-info p {
	text-align: center;
	font-size: 22px;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.tbmain-slider-btn{
	text-align: center;
}
.tbmain-slider-contant .tbmain-slider-button {
	line-height: 30px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000;
    border: none;
    border-radius: 38px;
    padding: 6px 20px;
    font-weight: 400;
    letter-spacing: 0.8px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tbmain-slider-contant .tbmain-slider-button:hover {
	background-color: #222222;
	color: #ffffff;
}
@media(max-width: 1199px){
	.tbmain-slider-contant .tbmain-slider-info h2{
		font-size: 80px;
	}
	.tbmain-slider-contant.tbmain-slider-contant-left{
		left: 10%;
	}
	.tbmain-slider-contant .tbmain-slider-title{
		font-size: 40px;
	}
	.tbmain-slider-contant .tbmain-slider-info p{
		font-size: 12px;
	}
}
@media (max-width: 991px) {
	.tbcms-slider-offerbanner-wrapper{
		margin-bottom: 30px;
	}
	.tbmain-slider-contant .tbmain-slider-button{
		font-size: 12px;
		line-height: 20px;
	}
	.tbmain-slider-contant .tbmain-slider-info h2{
		font-size: 60px;
		margin-bottom: 10px;
	}
	.tbmain-slider-contant .tbmain-slider-title{
		font-size: 30px;
		margin-bottom: 10px;	
		padding: 0;
	}
}
@media (max-width: 767px) {
	.tbmain-slider-contant .tbmain-slider-title{
		font-size: 20px;
		margin-bottom: 5px;
	}
	.tbmain-slider-contant .tbmain-slider-info h2{
		font-size: 40px;
		margin-bottom: 5px;
	}
	.tbmain-slider-contant .tbmain-slider-info p{
		font-size: 8px;
		margin-bottom: 15px;
	}
	.tbmain-slider-contant .tbmain-slider-button{
		font-size: 10px;
	    line-height: 20px;
	    padding: 3px 15px;
	}
}
@media (max-width: 575px) {
	.tbmain-slider-content-inner {
		width: 100%;
	}
	.tbmain-slider-contant .tbmain-slider-info h2{
		font-size: 18px;
		margin-bottom: 10px;
	}
	.tbmain-slider-contant .tbmain-slider-button{
		padding: 0 6px;
    	font-size: 7px;
    	line-height: 16px;
	}
	.tbmain-slider-contant .tbmain-slider-title{
		font-size: 12px;
	}
	.tbmain-slider-contant .tbmain-slider-info p{
		font-size: 3px;
   		margin-bottom: 5px;
	}
}
/******************end slider*****************************/
/***************** offer banner ****************/
.tbbanner1,
.tbbanner2 {
	position: relative;
}
.tbcmstbcmstwoofferbanners.container{
	padding: 0;
}
.tbcmstbcmssliderofferbanners .tbbanner1{
	margin-bottom: 30px;
}
.tbbanner-content-wrapper {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	transform: translate(0,-50%);
	width: auto;;
	right: 5%;
	left: 5%;
	margin: 0 auto;
	text-align: center;
	z-index: 10;
}
.tbbanner-content-wrapper.none {
	display: none;
}
.tbbanner-content-wrapper.left {
	text-align: left;
}
.tbbanner-content-wrapper.right {
	text-align: right;
}
.tbbanner-content-wrapper.center {
	text-align: center;
}
.tbbanner-content-wrapper h4 {
	color: #17496c;
	font-size: 34px;
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.tbbanner-content-wrapper h6 {
	color: #222222;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.tbcmstbcmssliderofferbanners .tbbanner-content-wrapper h4 {
	color: #222222;
}
.tbcmstbcmssliderofferbanners .tbbanner-content-wrapper h6 {
	color: #222222;
}
.tbofferbanner-two-inner{
	position: relative;
}
@media(max-width: 1199px) {
	.tbbanner-content-wrapper h4 {
		font-size: 25px;
		margin-bottom: 15px;
	}
	.tbbanner-content-wrapper h6 {
		font-size: 20px;
		margin-bottom: 20px;
	}
}
@media(max-width: 991px) {
	.tbbanner-content-wrapper h4 {
		font-size: 20px;
	}
	.tbbanner-content-wrapper h6 {
		font-size: 18px;
		margin-bottom: 15px;
	}
}
@media(max-width: 767px) {
	.tbbanner-content-wrapper h4 {
		font-size: 18px;
	}
	.tbbanner-content-wrapper h6 {
		font-size: 16px;
	}
}
@media(max-width: 575px) {
	.tbofferbanner-two-inner {
		text-align: center;
	}
	.tbcmstbcmstwoofferbanners .tbbanner1 {
		margin-bottom: 15px;
	}
}
@media(max-width: 480px) {
	.tbbanner-content-wrapper h4 {
		font-size: 18px;
		padding-bottom: 5px;
		margin-bottom: 5px;
	}
	.tbbanner-content-wrapper h6 {
		margin-bottom: 7px;
		font-size: 14px;
	}
}
/************ two offer banner *************/
/* all banner hover */
.lang-rtl .tbofferbanner-two-inner {
	direction: ltr;
}
.tbbanner-hover-wrapper {
	position: relative;
	overflow: hidden;
	display: block;
	text-align: center;
}
.tbbanner-hover-wrapper:after{
	position: absolute;
	content: "";
	width: 10%;
	-webkit-transform: skewX(-50deg);
	-moz-transform: skewX(-50deg);
	-ms-transform: skewX(-50deg);
	-o-transform: skewX(-50deg);
	transform: skewX(-50deg);
	bottom: 0%;
	left: -120%;
	height: 100%;
	background-color: rgba(255,255,255,0.20);
}
.tbbanner-hover-wrapper:hover:after{
	left: 300%;
	-webkit-transition: all 1.5s ease 0.1s;
	-o-transition: all 1.5s ease 0.1s;
	transition: all 1.5s ease 0.1s;
}
/******** end all baner hover ******/

/******************start single block*************************/
.tbcmssingle-block{
	margin-bottom: 100px;
}
.tbsingleblock-main-title{
	font-size: 46px;
	color: #000000;
	font-weight: 700;
	font-family: 'Playfair Display', serif;
	max-width: 300px;
}
.tbsingle-block-desc{
	font-size: 15px;
	color: #666666;
	font-weight: 500;
	line-height: 26px;
	padding: 20px 0 50px 0;
}
.tbsingle-bolck-btn-link-wrapper .tbsingle-bolck-btn {
    line-height: 30px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #17496c;
    border: none;
    border-radius: 26px;
    padding: 10px 27px;
    font-weight: 500;
    letter-spacing: 0.8px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tbsingle-bolck-btn-link-wrapper .tbsingle-bolck-btn:hover{
	background-color: #222222;
}
.tbsingle-block-main-title-wrapper .tbcms-main-title{
	text-align: left;
}
.lang-rtl .tbsingle-block-main-title-wrapper .tbcms-main-title{
	text-align: right;
}
.tbsingle-block-main-title-wrapper .tbcmsmain-title-wrapper{
	margin-bottom: 0;
}
@media(min-width: 768px){
	.tbsingle-block-image-info-wrapper{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	
}
@media(min-width: 992px){
	.tbsingle-block-info-box {
		padding-left: 65px;
	}
	.lang-rtl .tbsingle-block-info-box{
		padding-left: 15px;
		padding-right: 65px;
	}
}
@media(max-width: 991px){
	.tbsingleblock-main-title{
		font-size: 30px;
	}
	.tbsingle-block-desc{
		padding: 10px 0 30px 0;
		font-size: 12px;
	}
	.tbsingle-bolck-btn-link-wrapper .tbsingle-bolck-btn{
		padding: 3px 15px;
		font-size: 12px;
	}
	
}
@media(max-width: 767px){
	.tb-single-block-mainimage img{
		margin-bottom: 15px;
	}
}
/***********end single block***********************************/
/************multibanner******************************/
.tbcmsmultibanners{
	padding: 85px 0;
	margin-bottom: 0;
	position: relative;
}
.tbmultibanner-wrapper{
	position: relative;
	z-index: 1;
}
.tbcmsmultibanners:after{
	position: absolute;
    content: "";
    height: 490px;
    width: 500px;
    right: 5%;
    bottom: -10%;
    top: auto;
    background-repeat: no-repeat;
    background-image: url(../img/templatebeta/Side-image-2.png);
    z-index: 0;
}
.tbmultibanner-block-wrapper{
	box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.03);
}
.tbmultibanner1-wrapper,
.tbmultibanner2-wrapper{
	margin-bottom: 30px;
}
.tbmultibanner-block-wrapper{
	position: relative;
}
@media(max-width: 1199px){
	.tbcmsmultibanners:after{
		right: -7%;
		bottom: -15%;
		-webkit-transform: scale(0.7);
	    -moz-transform: scale(0.7);
	    -ms-transform: scale(0.7);
	    -o-transform: scale(0.7);
	    transform: scale(0.7);
	}
}
@media(max-width: 991px){
	.tbcmsmultibanners:after {
		right: -10%;
		bottom: -20%;
	}
}
@media(max-width: 767px){
	.tbmultibanner3-wrapper,
	.tbmultibanner1-wrapper,
	.tbmultibanner2-wrapper{
		margin-bottom: 15px;
	}
	.tbcmsmultibanners:after{
		bottom: -7%;
		right: -15%;
	}
}
/*******************end multibanner*************************************/

/*********************category slider**********************************/
.tbcategory-slider{
	overflow: hidden;
}
.tbcategory-slider-content-box .owl-stage-outer{
	overflow: visible;
	direction: ltr;
}
.tbcategory-slider-wrapper-info{
	padding: 15px;
}
.tbcategory-slider-inner-info-box .tbcategory-slider-inner img{
	height: 50px;
	width: 50px;
}
.tbcategory-slider-info-box{
	position: inherit;
	top: 0;
	right: 0;
	text-align: center;
	margin-top: 10px;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	transform: none;
}
.tbcategory-slider-info-box a{
	font-size: 16px;
	color: #222222;
	font-weight: 500;
}
.tbcategory-slider-inner:hover .tbcategory-slider-info-box a{
	color: #17496c;
}
.tbcategory-slider-inner{
	padding: 30px;
}
.tbcategory-slider-inner:hover{
	box-shadow: 0px 3px 8.7px 1.3px rgba(0, 0, 0, 0.14);
	background-color: #ffffff;
}
@media(max-width: 991px){
	.tbcategory-slider-info-box a{
		font-size: 14px;
	}	
}
/********************end category slider***********************************/

.tbcmsfeatured-product,
.tbcmsbest-seller-product,
.tbcmsnew-product,
.tbcmssame-category-product,
.tbcmscross-selling-product,
.tbcmslike-product,
.tbcmstab-title-product,
.tbcmsspecial-product,
.tbcmscategory-slider{
	margin-bottom: 100px;
}
@media(max-width: 991px) {
    .tbcmsfeatured-product,
    .tbcmsbest-seller-product,
    .tbcmsnew-product,
    .tbcmssame-category-product,
    .tbcmscross-selling-product,
    .tbcmslike-product,
    .tbcmstab-title-product,
    .tbcmsspecial-product{
    	margin-bottom: 30px;
    }
    .tbcmscategory-slider,
    .tbcmstwoofferbanners-one,
    .tbcmsblog-event,
    .tbcmstestimonial,
    .tbcmsbrandlist-slider,
    .tbcmssingle-block,
    .tbcmsmultibanners{
        margin-bottom: 30px;
    }
}

/*******instagram*************/
.tbinstagram-slider-wrapper-info .tbinsta-img-block{
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}
.contact-rich {
    border: 1px solid #eeeeee;
}
.sitemap-box {
    border: 1px solid #eee;
    padding: 15px;
}
.sitemap-box .sitemap h2{
	border-bottom: 1px solid #eee;
}
.meta_date i{
	font-size: 16px;
	line-height:15px;
	margin-right: 5px;
}
.tbcmsblogs_message{
    text-align: center;
    color: #dd4444;
    font-size: 14px;
    font-weight: 400;
}
.blog_post_content p.meta_date i{
    font-size: 16px;
    line-height: 15px;
    margin-right: 5px;
}
.kr_blog_post_area .blog_post .post_content .post_description p{
    text-align: justify;
    color: #666666;
    font-size: 14px;
    line-height: 24px;
}
/***********************************start_search_filters*******************************************/
#search_filters .facet .facet-title,
#search_filters_brands .facet .facet-title,
#search_filters_suppliers .facet .facet-title{
	font-size: 17px;
    color: #000000;
    margin: 0;
    line-height: 35px;
}
#search_filters .facet .facet-label, 
#search_filters_brands .facet .facet-label, 
#search_filters_suppliers .facet .facet-label{
	display: inline-block;
	vertical-align: middle;
}
#search_filters .facet .facet-label a,
#search_filters_brands .facet .facet-label a,
#search_filters_suppliers .facet .facet-label a{
	margin:0 0 0 5px;
	color: #222222;
    font-size: 14px;
    line-height: 30px;
}
#search_filters .facet .facet-label a{
	width:auto;
}
#search_filters .facet .facet-label .custom-checkbox{
	top:auto;
	margin:0;
}
.custom-checkbox input[type=checkbox]{
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
/***********************************end_search_filters*******************************************/