*::-webkit-scrollbar-thumb{
    background-color: #000;
}
a:hover,
.btn-outline-primary,
.btn-link,
.page-link,
.text-primary,
.btn-unstyle:focus .expand-more,
.dropdown-item:focus,
.dropdown-item:hover,
.search-widget form input[type=text]:focus+button .search,
.search-widget form button[type=submit] .search:hover,
#header .top-menu a[data-depth="0"]:hover,
.top-menu .sub-menu a:hover,
.page-my-account #content .links a:hover i,
.carousel .carousel-control .icon-next:hover i,
.carousel .carousel-control .icon-prev:hover i,
.pagination .current a,
.block-categories .collapse-icons .add:hover,
.block-categories .collapse-icons .remove:hover,
.block-categories .arrows .arrow-down:hover,
.block-categories .arrows .arrow-right:hover,
.tabs .nav-tabs .nav-link.active,
#blockcart-modal .product-name,
.cart-grid-body a.label:hover,
.block_newsletter form input[type=text]:focus+button .search,
.block_newsletter form button[type=submit] .search:hover,
.account-list a:hover,
#header .header-nav .blockcart a:hover,
#wrapper .breadcrumb li:last-child a, 
#wrapper .breadcrumb li:hover a,
#search_filters_brands .facet .tbsearch-filter-brand-wrapper li.facet-label a:hover, 
.tbserach-filter-suppliers p:hover{
	color: #000;
}
.btn-primary:hover,
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.card-primary,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.tag-primary,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.bg-primary,
.bootstrap-touchspin .group-span-filestyle .btn-touchspin,
.group-span-filestyle .bootstrap-touchspin .btn-touchspin,
.group-span-filestyle .btn-default,
.custom-radio input[type=radio]:checked+span,
body#checkout section.checkout-step .delete-address,
body#checkout section.checkout-step .edit-address,
.products-sort-order .select-list:hover,
.facet-dropdown .select-list:hover,
#header .header-nav .cart-preview.active,
.page-footer a,
.tb-continue-shopping-btn,
.tbprocess-to-checkout,
.footer_links.wishlist_footer a,
.tbwishlist-send-mess-btn .button-small,
.tbcmsNewsLetterPopup-i .tbnewsletterpopup-button-icon:hover {
	background-color: #000;
}
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.card-primary,
.card-outline-primary,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	border-color: #000;
}
.facet-dropdown.open>.select-title {
	border: 3px solid #000;
}
.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link:hover {
	border-bottom: 3px solid #000;
}
#product-modal .modal-content .modal-body .product-images img:hover {
	border: 3px solid #000;
}
.product-images>li.thumb-container>.thumb.selected,
.product-images>li.thumb-container>.thumb:hover {
	border: 2px solid #000;
}
@media (min-width: 992px) {	
	.tbmain-menu-dropdown {		
		border-bottom: 2px solid #000;	
	}	
}
/**************** theme color ****************/
#products.grid .tbproduct-view.tbproduct-grid,
#products.grid-2 .tbproduct-view.tbproduct-grid-2,
#products.list .tbproduct-view.tbproduct-list,
#products.list-2 .tbproduct-view.tbproduct-list-2,
#products.catelog .tbproduct-view.tbproduct-catelog,
.tbcms-left-column-wrapper .tb-left-pannal-btn-wrapper:hover,
.tbcmsproduct-grid-list .tbproduct-view:hover,
.tb_search_filter_wrapper .tbleft-right-title-wrapper:hover,
.tbcmstheme-control .tbtheme-control-icon:hover,
.tbtheme-control-wrapper .tbtheme-option .btn-primary,
.tbtheme-control-wrapper .tbtheme-control-reset:hover,
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-theme select option:hover,
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-1 select option:hover,
.tbcmstheme-control .tbtheme-control-wrapper .tbselect-title-font-2 select option:hover,
.tbbanner-content-wrapper .tbbanner-btn,
.tbsingle-bolck-btn-link-wrapper .tbsingle-bolck-btn,
.tbcmsmain-menu-wrapper .tb-header-menu[data-depth="0"] > li > .tbmenu-link-wrapper a:after,
.tbsearch-more-search:hover,
.tbsearch-dropdown-close:hover,
.tb-cart-cart-inner,
.tbcart-product-list-checkout,
.tbcart-product-list-viewcart:hover,
.tbtabcategory-product-li.active,
.tbtabcategory-product-li:hover,
.tbtab-title-wrapper .tbtabs-products li:hover,
.tbtab-title-wrapper .tbtabs-products li.active,
.tbproduct-quick-btn:hover,
.tbproduct-cart-btn:hover,
.tbproduct-wishlist:hover,
.tbcompare-wrapper:hover,
.tbproduct-cart-quentity-increment:hover, 
.tbproduct-cart-quentity-decrement:hover,
.tbcmsprev-btn:hover,
.tbcmsnext-btn:hover,
.nivo-controlNav .nivo-control.active,
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span,
.tbnewsleteer-btn-wrapper .btn-primary[type=submit]:hover,
.tbbottom-to-top,
#tbnewsletter-email-subscribe,
.subscribe-bottom input[type=checkbox]:checked+.tbcmsnewsletterpopup_checkbox {
	background-color: #000;
}

.tbsearch-dropdown-total-wrapper:hover .tbsearch-dropdown-total,
.tbservices-wrapper:hover .tbservices-content-box .tbservices-title,
.tbblog-event-all-content-block:hover .tbnews-event-titel h3 a,
.tbcategory-slider-inner:hover .tbcategory-slider-info-box a,
.tbcmsmain-menu-wrapper .tb-header-menu[data-depth="1"] > li > .tbmenu-link-wrapper a span:hover,
.tbmain-menu-wrapper a[data-depth="2"] .tbmain-menu-text-box:hover,
#tbcmsdesktop-language-selector .tb-language-btn:hover i, 
#tbcmsdesktop-currency-selector .tb-currency-btn:hover i, 
#tbcmsdesktop-user-info:hover .tbhedaer-sign-btn i,
#tbcmsdesktop-language-selector .tb-language-btn:hover .tb-language-span, 
#tbcmsdesktop-currency-selector .tb-currency-btn:hover .tb-currency-span, 
#tbcmsdesktop-user-info .tbhedaer-sign-btn:hover,
#_desktop_wishtlistTop:hover .tbwishlist-name span,
.tbcmsdesktop-view-compare:hover .tbdesktop-view-compare-name,
.tb-language-dropdown li a:hover, .tb-currency-dropdown li a:hover,
.tbnews-event-link a:hover,
.tballproduct-link a:hover,
.tbleft-right-penal-all-block .tball-product-bottom-link-block a:hover, 
.tbcmsblog-left-side .tbnews-event-link a:hover,
.tbfooter-view-link a:hover,
.tbnews-event-link a:hover i,
.tballproduct-link a:hover i,
.tbleft-right-penal-all-block .tball-product-bottom-link-block a:hover i,
.tbcmsblog-left-side .tbnews-event-link a:hover i,
.tbfooter-view-link a:hover i,
.tbproduct-timer-wrapper .seconds,
.tbproduct-wrapper:hover .tbproduct-name .product-title a h6,
.tbsearch-dropdown-title:hover,
.product-price-and-shipping .price,
.tb-product-catalog-btn .tbproduct-cart-quentity,
.tbproduct-page-wrapper .tball-product-star-icon .tball-product-review,
.tbfooter-store-link a:hover,
.footer-container li a:hover {
	color: #000;
}

.tbtab-title-wrapper .tbtabs-products li:hover,
.tbtab-title-wrapper .tbtabs-products li.active,
.tbproduct-quick-btn:hover,
.tbproduct-cart-btn:hover,
.tbproduct-wishlist:hover,
.tbcompare-wrapper:hover,
.tbcmsprev-btn:hover,
.tbcmsnext-btn:hover,
.tbnewsleteer-btn-wrapper .btn-primary[type=submit]:hover{
	border-color:  #000;
}